	.starContainer {
		display: flex;
		width: 100%;
		padding: 10px 20px 0;
		flex-direction: row;
		justify-content: space-between;
		text-decoration: none;

		@media screen and (min-width: 450px) {
			padding: 10px 80px 20px;
		}
	}
