@import "../../styles/breakPoints.module.scss";

.stars {
	padding-top: 80px;
	.headerContainer {
		position: fixed;
		display: flex;
		flex-direction: column;
		z-index: 10;
		background-color: white;    
		width: 100%;

		h1 {
			font-size: 2rem;
			text-align: center;
			margin: 24px 0;
		}

		.filtersContainer {
			position: sticky;
			display: flex;
			flex-direction: column;
			z-index: 20;
			background-color: #444;    
			width: 95%;
			margin: 0 auto;
			border: 1px solid black;
			border-radius: 10px;
			padding: 12px;

			h3 {
				font-size: 1.2rem;
				text-align: center;
				margin-bottom: 16px;
				color: white;
			}

			.filterContainer {
				background-color: white;
				padding: 16px;
				border-radius: 10px;

				.starContainer {
					display: flex;
					width: 100%;
					padding: 10px 20px 0;
					flex-direction: row;
					justify-content: space-between;
					text-decoration: none;	
	
					@media screen and (min-width: 450px) {
						padding: 10px 80px 20px;
					}
	
					button {
						border: none;
						background-color: transparent;
					}
				}

			}

		}
	}
	.waypoint {
		height: 10px;
	}
	
	.athletesContainer {
		padding-top: 240px;
		min-height: 100vh;
	}

	.waypoint {
		height: 100px;
		width: 100%;
		display: grid;
		place-items: center;
	}
}