@import "../../../../styles/breakPoints.module.scss";

.classof {
	padding-top: 80px;
	h1 {
		text-align: center;
		font-size: 2rem;
		margin-bottom: 24px;
	}
	.filtersContainer {
		position: sticky;
		display: flex;
		flex-direction: column;
		z-index: 20;
		background-color: white;    
		width: 95%;
		margin: 0 auto;
		border: 1px solid black;
		border-radius: 10px;
		

		.filterContainer {
			margin-bottom: 16px;
			h3 {
				font-size: 1.2rem;
				text-align: center;
				margin-bottom: 16px;
			}
	
			.starContainer {
				display: flex;
				width: 100%;
				padding: 10px 20px 20px;
				flex-direction: row;
				justify-content: space-between;
				text-decoration: none;

				@media screen and (min-width: 450px) {
					padding: 10px 80px 20px;
				}
	
				button {
					border: none;
					background-color: transparent;
				}
			}
		}
	}

	.athletesContainer {
		padding-top: 10px;
		min-height: 100vh;
	}
	.waypoint {
		height: 10px;
	}
}