.searchByAlphaContainer {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.classContainer {
		display: flex;
		width: 100%;
		gap: 5px;
		flex-direction: row;
		justify-content: space-between;

		@media screen and (max-width: 450px) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 30px;
			width: 30px;
			border: 1px solid #444;
			border-radius: 4px;
		}

		.link {
			background-color: #444;
			color: white;
		}

		.active {
			background-color: white;
			color: #444;
		}

	}

	@media screen and (min-width: 450px) {
		.classContainer {
			display: flex;
			width: 100%;
			gap: 5px;
			padding: 30px;
			flex-direction: row;
			justify-content: space-between;
	
			@media screen and (max-width: 450px) {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}

			.letterContainer {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 30px;
				width: 30px;
				border: 1px solid #444;
				border-radius: 4px;
			}
	
			.link {
				background-color: #444;
				color: white;
			}
	
			.active {
				background-color: white;
				color: #444;
			}
		}
	}

}